.text-white {
  color: white
}

.item {
  margin: 30px;
  padding: 30px;
  border: 5px solid #7952b3;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  color: white;
  max-height: 60px;
  border: 3px solid;
  border-color: white;
  text-align: center;
  vertical-align: middle;
  padding: .8rem 2rem;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 10px;
}

.btn:hover {
  color: #fff;
  background-color: #7952b3;
  border-color: #7952b3;
}

.button-list {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-top: 100px;
}

.info {
  position: relative;
  left: 400px;
}
